<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h1 class="footer-logo">
          {% img logo.png %}
        </h1>
        <p>© DWork 2015</p>
        <p>245E/11 Hoang Van Thu st., ward 11, Tan Binh district, HCMC</p>
      </div>
      <div class="col-md-9">
        <ul class="footer-nav">
          <li><a href="/#intro">Intro</a></li>
          <li><a href="/#visions">Visions</a></li>
          <li><a href="/#portfolio">Portfolio</a></li>
          <li><a href="/#about">About</a></li>
          <li><a href="/jobs">Jobs</a></li>
          <li><a href="/#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<div class="overlay overlay-dwork">
  <nav>
    <ul>
      <li><a href="/#intro"><i class="fa fa-heart"></i>Intro</a></li>
      <li><a href="/#visions"><i class="fa fa-flash"></i>Visions</a></li>
    </ul>
    <ul>
      <li><a href="/#portfolio"><i class="fa fa-desktop"></i>Portfolio</a></li>
      <li><a href="/#about"><i class="fa fa-info"></i>About</a></li>
      <li><a href="<%= jobs_path %>"><i class="fa fa-briefcase"></i>Jobs</a></li>
      <li><a href="/#contact"><i class="fa fa-envelope-o"></i>Contact</a></li>
    </ul>
  </nav>
</div>