<!DOCTYPE html>
<html>

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>UX/UI Designer ($850+) - DWORK Co., ltd</title>
  <link type="text/css" rel="stylesheet" href="/assets/application-761360b8e57a710ae9d2a469aba5e1ab4614775cf3d73e2441a12dc98bb833bf.css" integrity="sha384-6Rucqvx0tBqYinsmWoGYili4Oxtrh0Ygfg0Dwtv+EesfEiz7W/YIitFC8zlWWL3/" crossorigin="anonymous">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>

  <link rel="canonical" href="http://dwork.vn/jobs/ux-ui-designer/">
  <link rel="alternate" type="application/rss+xml" title="DWORK Co., ltd" href="http://dwork.vn/feed.xml">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-60396983-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>

  <body>
    <header>
  <section class="hero">
    <div class="texture-overlay"></div>
    <div class="container">
      <div class="row nav-wrapper">
        <div class="col-md-6 col-sm-6 col-xs-6 text-left">
          <a href="/"><img src="/assets/logo-white-e03612d992c92f3395bcf7ed6e6c6e327bfa2fc09e3b174b420dfd22a023f07e.png" width="84" height="42" alt="logo-white.png"></a>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 text-right navicon">
          <p>MENU</p><a id="trigger-overlay" class="nav_slide_button nav-toggle" href="#"><span></span></a>
        </div>
      </div>
      <div class="row hero-content">
        <div class="col-md-12">
          <h1 class="animated fadeInDown">At DWork, we bring your dreams to the next level</h1>
          <a href="/#hiring" class="learn-btn animated fadeInUp">Join us! <i class="fa fa-arrow-down"></i></a>
        </div>
      </div>
    </div>
  </section>
</header>
    <style>
  section.hero {
    min-height: 0;
  }
  .hero-content {
    display: none;
  }
</style>

<div class="container" style='font-family: "Helvetica Neue", Arial, "Lucida Grande", sans-serif'>
    <div class="row">
        <div class="col-xs-12">
            <a href="/jobs">< Back</a>
            <div class="page-header">
                <h1>UX/UI Designer ($850+) <small>Ho Chi Minh City, Vietnam</small></h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            
                  <label class="label label-info">Full Time</label>

            
                  <label class="label label-danger">Design</label>

            
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <p><h2 id="company-overview">Company Overview</h2>
<p>DWORK has an exciting future ahead and you should join us if you want to be in it.</p>

<p>More will be disclosed when you’re in</p>

<h3 id="our-values">Our values</h3>

<ul>
  <li><code class="highlighter-rouge">Experienced</code> enough to have confident</li>
  <li><code class="highlighter-rouge">Motivated</code> enough to inspire others</li>
  <li><code class="highlighter-rouge">Curious</code> enough to keep learning</li>
  <li><code class="highlighter-rouge">Bold</code> enough to make a name for yourself</li>
</ul>
</p>
            <!--<p><%= Redcarpet::Markdown.new(Redcarpet::Render::HTML).render(t :default_company_overview).html_safe %></p>-->
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p><h2 id="job-description">Job Description</h2>

<ul>
  <li>Produce compelling, engaging, user experiences that allow users to accomplish their tasks easily and efficiently. Achieve these goals while still fulfilling stated business requirements, project goals, and product vision</li>
  <li>Work with various teams inside the company to understand product and process requirements and turning them into buildable user experiences</li>
  <li>Participate and collaborate in concept development and design ideation for new product features</li>
  <li>Contribute toward and employ established UX patterns and conventions in experiences tailored to target devices (desktop, tablet, phone, etc.…)</li>
  <li>Produce design deliverables including user flows, sketches at various levels of fidelity, wireframes, journey maps, and other similar tools to demonstrate and to aid the validation of proposed design solutions</li>
</ul>

<h2 id="prerequisite">Prerequisite</h2>

<ul>
  <li>Pixel lover</li>
  <li>1 year or 2 apps and web apps in experience.</li>
  <li>High responsibility.</li>
  <li>Creativity but productivity.</li>
  <li>Understanding about Platform guideline and cheatsheet</li>
  <li>Skilled at digital and physical prototyping. (Balsamiq or other wireframe tools)</li>
  <li>Solid knowledge of Adobe Photoshop and/or Fireworks.</li>
  <li>Know how to use Sketch and its plugin is a plus.</li>
  <li>Excellent CSS and HTML skills is a plus.</li>
</ul>

<h2 id="requirements">Requirements</h2>

<ul>
  <li>A passion to create simple and clean user experiences and interfaces</li>
  <li>Demonstrated ability to learn and design for complex business tasks and supporting technologies</li>
  <li>Strong online, or distributable, portfolio/work samples that demonstrate a high-level of proficiency in interaction design</li>
  <li>Experience in user experience design for web or mobile applications</li>
  <li>Experience in Lean UX/UI, Agile development or similar</li>
</ul>

<h2 id="benefits">Benefits</h2>

<ul>
  <li>Competitive salary (gross: $850 - $1500)</li>
  <li>Insurance, snacks, transportation will be negotiable</li>
</ul>
</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p><h2 id="why-youll-love-working-here">Why you’ll love working here</h2>

<ul>
  <li>Competitive salary</li>
  <li>A workspace with great view to green Hoang Van Thu park (Yellow Flowers are there for fan boys too)</li>
  <li>A bunch of funny and motivated people</li>
  <li>Standing by window, sitting at desk, hugging the beanbag, lying on the floor. Free your style, bright your code</li>
  <li>SNACKS!</li>
</ul>

<h2 id="why-youll-hate-working-here">Why you’ll hate working here</h2>

<ul>
  <li>Join foosball world’s champion</li>
  <li>Fat boss</li>
  <li>Cute Office/HR/Finance manager</li>
  <li>Naughty dog</li>
  <li>Get fat</li>
</ul>
</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p><h2 id="how-to-apply">How to apply?</h2>
<p>You can prove yourself through Github, ziped source code, portfolio</p>

<p>Email to us at <code class="highlighter-rouge">team@dwork.vn</code> with title is  <code class="highlighter-rouge">[job_title] Your Name</code></p>
</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <p style="white-space: pre-line">
                Happy Coding,
                DWork's Team
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-danger" href="mailto:team@dwork.vn?subject=[ux-ui-designer-850] Put your name here">Apply now!</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <small>Last updated: 19 Oct 2015</small>
        </div>
    </div>
</div>

    <footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h1 class="footer-logo">
          <img src="/assets/logo-983343b0deaa94120b0f72f244c370d933764e1d65121403aa4800c65f67bd69.png" width="84" height="42" alt="logo.png">
        </h1>
        <p>© DWork 2015</p>
        <p>245E/11 Hoang Van Thu st., ward 11, Tan Binh district, HCMC</p>
      </div>
      <div class="col-md-9">
        <ul class="footer-nav">
          <li><a href="/#intro">Intro</a></li>
          <li><a href="/#visions">Visions</a></li>
          <li><a href="/#portfolio">Portfolio</a></li>
          <li><a href="/#about">About</a></li>
          <li><a href="/jobs">Jobs</a></li>
          <li><a href="/#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<div class="overlay overlay-dwork">
  <nav>
    <ul>
      <li><a href="/#intro"><i class="fa fa-heart"></i>Intro</a></li>
      <li><a href="/#visions"><i class="fa fa-flash"></i>Visions</a></li>
    </ul>
    <ul>
      <li><a href="/#portfolio"><i class="fa fa-desktop"></i>Portfolio</a></li>
      <li><a href="/#about"><i class="fa fa-info"></i>About</a></li>
      <li><a href="<%= jobs_path %>"><i class="fa fa-briefcase"></i>Jobs</a></li>
      <li><a href="/#contact"><i class="fa fa-envelope-o"></i>Contact</a></li>
    </ul>
  </nav>
</div>
    <script type="text/javascript" src="/assets/application-c7f3a488922458c4fd8de0514124581ff332b56114108356c9666d2124f4a3b5.js" integrity="sha384-6SmUG4nfUaNR25vuYo3Pxc/Gl4b6OWwUq96jliPgoTflQ+BMq0eg0jMPUFnIgH+t" crossorigin="anonymous"></script>
    <!-- Start of widget script --><script type="text/javascript">function loadJsAsync(t,e){var n=document.createElement("script");n.type="text/javascript",n.src=t,n.addEventListener("load",function(t){e(null,t)},!1);var a=document.getElementsByTagName("head")[0];a.appendChild(n)}window.addEventListener("DOMContentLoaded",function(){loadJsAsync("https://mycare.mediaworld.com.vn:8090/js/CsChat.js?v=2.0",function(){var t={domain:"GETIT"};embedCsChat(t)})},!1);</script><!-- End of widget script -->
  </body>

</html>
