<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
    {% js application %}
    <!-- Start of widget script --><script type="text/javascript">function loadJsAsync(t,e){var n=document.createElement("script");n.type="text/javascript",n.src=t,n.addEventListener("load",function(t){e(null,t)},!1);var a=document.getElementsByTagName("head")[0];a.appendChild(n)}window.addEventListener("DOMContentLoaded",function(){loadJsAsync("https://mycare.mediaworld.com.vn:8090/js/CsChat.js?v=2.0",function(){var t={domain:"GETIT"};embedCsChat(t)})},!1);</script><!-- End of widget script -->
  </body>

</html>
